@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #141414;;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  background-color: #141414;
}

body {
  --tw-bg-opacity: 1;
  /* background-color: rgb(230, 230, 230); */
  /* background-color: rgb(28 25 23/var(--tw-bg-opacity)); */
  background-color: #141414;
}

@layer base {
  @font-face {
    font-family: 'Inter';
    src: url('/Inter.ttf');
  }
  @font-face {
    font-family: 'consola';
    src: url('/consola.ttf');
  }
  @font-face {
    font-family: 'hubot';
    src: url('/Hubot-Sans.ttf');
  }

}


.stripe-bg{
  background-image: repeating-linear-gradient( 135deg, rgb(38, 38, 38), 
  rgb(38, 38, 38) 2px, 
  rgb(23, 23, 23) 2px, 
  rgb(23, 23, 23) 8px );
}

