.terminal {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 180px;
  }
  
  .command {
    display: inline-block;
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-right: 2px solid white;
    }
    50% {
      border-right: 2px solid transparent;
    }
  }